/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: #474A50;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fdfdfd;
}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

.container {
  max-width: 800px;
  margin: 0 auto;
}

.home-header, .page-header {
  background-color: #e06247;
  overflow: hidden;
  margin-bottom: 30px;
  color: #1a1c20;
}

.home-header .logo {
  display: inline-block;
  width: 165px;
  height: 165px;
  background: transparent url(/img/logo.png) no-repeat center center;
  background-size: contain;
  float: left;
  margin: 40px 40px 40px 0;
}

.home-header h1 {
  padding-top: 96px;
  font-size: 27px;
  font-weight: 200;
}

.home-header h2 {
  font-size: 18px;
  font-weight: 200;
}

.page-header .logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url(/img/logo.png) no-repeat center center;
  background-size: contain;
  float: left;
  margin: 8px 0;
}

.content h3 {
  margin: 0 0 10px;
}

.content p {
  margin: 0 0 15px;
  line-height: 32px;
}

.content ul {
  list-style-position: inside;
  margin: 0 0 20px;
}

.chapters-list {
  list-style-position: inside;
}