/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: #474A50;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fdfdfd;
}

a, a:active { color: #1A617C; text-decoration: none; }
a:hover { color: #0C4A62; text-decoration: underline; }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.home-header, .page-header {
  background-color: #e06247;
  overflow: hidden;
  margin-bottom: 30px;
  color: #1a1c20;
}

.home-header .logo {
  display: inline-block;
  width: 165px;
  height: 165px;
  background: transparent url(/img/logo.png) no-repeat center center;
  background-size: contain;
  float: left;
  margin: 40px 40px 40px 0;
}

@media (max-width: 500px) {
  .home-header .logo {
    width: 45px;
    height: 45px;
    margin: 20px 20px 20px 0;
  }
}

.home-header h1 {
  padding-top: 96px;
  font-size: 27px;
}

@media (max-width: 500px) {
  .home-header h1 {
    padding-top: 27px;
    font-size: 20px;
    line-height: 18px;
  }
}

.home-header h2 {
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 500px) {
  .home-header h2 {
    font-size: 15px;
  }
}

.page-header .logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent url(/img/logo.png) no-repeat center center;
  background-size: contain;
  float: left;
  margin: 8px 0;
}

.content h1 {
  margin: 0 0 20px;
  font-weight: 100;
}

.content h3 {
  margin: 0 0 10px;
  font-weight: 100;
}

.content p {
  margin: 0 0 15px;
  line-height: 32px;
}

.content ul {
  list-style-position: inside;
  margin: 0 0 20px 20px;
}

.content ul li {
  margin: 0 0 8px;
}

.chapters {
  border-top: 4px solid #E9E9E9;
  margin-top: 26px;
  padding: 20px 0;
}

.chapters h3 {
  font-weight: 100;
  margin: 0 0 10px;
  font-size: 30px;
}

.chapters-list {
  list-style-position: inside;
}

.center {
  text-align: center;
}

.site-footer {
  margin: 30px 0;
}

.footer-links {
  margin: 0 0 10px;
  color: #ccc;
  font-size: 14px;
}

.footer-links a, .footer-links a:active {
  color: #646464;
}

.edit-chapter {
  float: right;
  font-size: 14px;
  background-color: #ccc;
  border-radius: 3px;
  color: #464646;
  padding: 4px 7px;
}

.edit-chapter:hover {
  text-decoration: none;
  background-color: #D6D5D5;
  color: #464646;
}