<footer class="site-footer">

  <div class="container">

  	<div class="center">


  		<p class="footer-links"><a href="https://github.com/rickpastoor/menifesto" target="blank" alt="Manifesto is open source.">GitHub</a> &bull; <a href="https://twitter.com/menifesto" target="blank">Twitter</a></p>

  		 <form action="https://tinyletter.com/menifesto" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/menifesto', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="newsletter-form">
  		 	<p><label for="tlemail">Updates, tips en een kritische vraag in je mailbox? Schrijf je in!</label></p>
  		 	<p class="sublabel">(Maximaal 1 keer per week)</p>
  		 	<p><input type="text" name="email" id="tlemail" placeholder="E-mailadres" class="email" /> <input type="submit" value="Inschrijven" class="submit" /></p>
  		 	<input type="hidden" value="1" name="embed"/>
  		 </form>

    <a href="https://twitter.com/menifesto" class="twitter-follow-button" data-show-count="false" data-lang="nl" data-size="large">@menifesto volgen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>

  </div>

</footer>
