<footer class="site-footer">

  <div class="container">

  	<div class="center">


  		<p class="footer-links"><a href="https://github.com/rickpastoor/menifesto" target="blank" alt="Manifesto is open source.">GitHub</a> &bull; <a href="https://twitter.com/menifesto" target="blank">Twitter</a></p>

    <a href="https://twitter.com/menifesto" class="twitter-follow-button" data-show-count="false" data-lang="nl" data-size="large">@menifesto volgen</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>

  </div>

</footer>
